.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.introducao-item {
  width: 100%;
  padding: 50% 0;
  margin: 20px;
  border-radius: 100%;
  background: #6a3093; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a044ff,
    #6a3093
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a044ff,
    #6a3093
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  transform-origin: center !important;
}
.introducao-item h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.8rem;
}
.introducao-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  top: -5%;
  left: -5%;
  border-left: 1px solid #6a3093;
  transform-origin: center !important;
  animation: header-giro 5s linear infinite;
}
.introducao-infor h1 {
  font-size: 4.5rem;
  margin-bottom: 30px;
  position: relative;
}
.introducao-infor p {
  font-size: 1.2rem;
  color: #525252;
}
.introducao-infor h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background: #F15F79;
  border-radius: 10px;
  transform: rotate(30deg);
  top: -5px;
  left: -15px;
  z-index: -1;
}
@keyframes header-giro {
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1000px) {
  .introducao-infor h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .introducao-infor h1::before {
    width: 40px;
    height: 5px;
    border-radius: 2px;
    top: -10px;
    left: 0px;
    transform: rotate(0deg);
  }
  .introducao-infor h1 {
    font-size: 2rem;
  }
  .introducao-item h2 {
   font-size: 0.9rem !important;
   letter-spacing: 0.5rem;
  }
}
@media (max-width: 540px) {
  .introducao-item h2 {
    font-size: 0.7rem !important;
       letter-spacing: 0.3rem;
   }
}
@media (max-width: 500px) {
  .introducao {
    grid-template-columns: 1fr !important;
  }
  .introducao-img {
    display: none;
  }
}


/* experiencia */
.experiencia{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 30px;
  margin-top: 50px;
  gap: 100px;
}
.experiencia h2{
  max-width: 4ch;
  font-size: 8rem;
  word-break: break-all;
  color: #DDD;
  font-weight: bold;
  align-self: center;
  line-height: 1.5;
}

.experiencia-texto{
  max-width: 40ch;
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  color: #525252;
}
.experiencia p strong{
  color: #000000;
}

.empresa{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
  border-right: 3px solid #6a3093;
}
.empresa .ano{ 
  position: absolute;
  top: 23px;
  left: -80px;
  font-size: 0.8rem;
}
.empresa::after {
  content: "";
  display: block; 
  position: absolute;
  width: 4px;
  height: 20px;
  top: 20px;
  left: -4px;
  background: #6a3093;
  
}

.empresa-titulo{
  font-weight: bold;
  font-size: 1rem;
  color: #000000;
}
.empresa-texto{
  font-size: 0.8rem !important;
  align-self: flex-start;
}
.empresa-tecnoclogia{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.empresa-tecnoclogia li{
  background-color: #fff;
  align-self: flex-start;
  font-size: 0.85rem;
  padding: 10px;
}

.title-trabalhos{
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}
.title-trabalhos::before{
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #B24592;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  left: -18px;
  top: 6px;
  border-radius: 3px;
}
.link-empresa{
  display: inline-block;
  width: auto !important;
  padding: 10px 20px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 3px;
  color: #B24592;
}
.link-empresa:hover{
 text-decoration: underline;
}